html , body{
    font-family: 'Open Sans', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
a,
a:hover,
a:focus,
a:active{
    outline: none;
}
.navbar {
    background-color: transparent;
    background: transparent;
    border: none;
}
.navbar ul li a{
    color: #ddd;
    border-bottom: none;
    text-shadow: 2px 1px 1px rgba(100, 100, 100, 0.9);
}
@media (min-width: 768px){
    .navbar ul li a{
        border-bottom: 2px solid transparent;
    }
    .navbar li + li{
        margin-left: 10px;
    }
}
.navbar ul li a:active, 
.navbar ul li a:hover{ 
    background: transparent;
    background-color: transparent;
    color: #fff;
    border-bottom-color: rgba(255,255,255,.30);
}
.navbar ul li a:focus{
    background: transparent;
    background-color: transparent;
}
.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus{
    color: #fff;
    border-bottom-color: rgba(255,255,255,.10);
}
.navbar .navbar-toggle {
    border-color: transparent;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: transparent;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}
.text-shadow{
    text-shadow: 4px 4px 2px rgba(25, 25, 25, 0.9);
}
.logo{
    background: url(../img/gerardpaullabitad-gpworks-logo_white.png) center center no-repeat;
    background-size: 60px 60px;
    width: 60px;
}
.logo:hover{
    background: url(../img/gerardpaullabitad-gpworks-logo_black.png) center center no-repeat;
    background-size: 60px 60px;
    width: 60px;
}
#bg{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img.bg-img{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    /*    background: -moz-radial-gradient(50% 50%, transparent 0%, transparent 60%, rgba(0,0,0,0.5) 100%);
        background: -webkit-radial-gradient(50% 50%, transparent 0%, transparent 60%, rgba(0,0,0,0.5) 100%);*/
}
.space-in-80{
    padding-top: 80px;
}
.box_container{  
    position:relative; /* important */  
    width:300px; /* we must set a specific width of the container, so it doesn't strech when the image starts moving */  
    height:300px; /* important */  
    /*overflow:hidden;  hide the content that goes out of the div */ 
}  
.images_holder{  
    position:absolute; /* this is important, so the div is positioned on top of the text */  
    width: 100%;
    height: 100%; 
    z-index: 1;
}  
.image_div {  
    position:relative; /* important so we can work with the left or right indent */  
    overflow:hidden; /* hide the content outside the div (this is how we will hide the part of the image) */  
    width:50%; /* make it 50% of the whole images_holder */  
    float:left; /* make then inline */  
}  
.img-right img{  
    margin-left: -100%; /* 100% is in this case 50% of the image, so this is how we show the second part of the image */  
}
.img-left img{  
    margin-right: -100%; /* 100% is in this case 50% of the image, so this is how we show the second part of the image */  
} 
.clear{
    clear: both;
}
.center-container{
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.center-container-inner{
    display: table-cell;
    text-align: center;
    vertical-align: top;
}
.center-container-content{
    margin: 0 auto;
}
.center-container-content img{
    display: inline-block;
}
.cover-img{
    width: 50%;
    height: 50%;
}
@media (min-width: 768px){
    .cover-img{
        width: 30%;
        height: 30%;
    }
}