html , body{
    font-family: 'Open Sans', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
a,
a:hover,
a:focus,
a:active{
    outline: none;
}
.brand_logo{
    width: 50px;
    display: inline-block;
    margin-top: -5px;
}
#logo span{
    display: inline-block;
}
#logo{
    padding: 0 10px;
    line-height: 50px;
}
/*
* Base structure
*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}
/*
* Global add-ons
*/
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
    border: 0;
}
/*
* Sidebar
*/
/* Hide for mobile, show later */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #12657C;
    border-right: 1px solid #333333;
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    color: #fff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus{
    color: #fff;
    background-color: #333333;
}
.nav-sidebar > li > a > span{
    display: none;
}
.nav-sidebar > li > a > i{
    font-size: 20px;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #12657C;
        border-right: 1px solid #333333;
    }
    /* Sidebar navigation */
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
    }
    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
        text-align: left;
    }
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus,
    .nav-sidebar > li > a:hover,
    .nav-sidebar > li > a:focus{
        color: #fff;
        background-color: #333333;
    }
    .nav-sidebar > li > a > span{
        display: inline-block;
        margin-left: 10px;
    }
    .nav-sidebar > li > a > i{
        font-size: inherit;
    }
}

/*
* Main content
*/
.main {
    padding: 20px 20px 20px 70px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.page-header{
    border-bottom: 1px solid rgba(225,225,225,.2);
}
/*
* Placeholder dashboard ideas
*/
.placeholders {
    margin-bottom: 30px;
    padding: 10px;
    background: #eee;
    color: #000;
    text-shadow: none;
}
.placeholders p{
    margin: 10px 5px;
}
.placeholders hr{
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
} 
.navbar {
    background-color: #269ABC;
    background: #269ABC;
    border: none;
}
.navbar-brand span{
    color: #fff;
}
.navbar-brand:hover span{
    font-weight: bold;
}
.navbar ul li a{
    color: #fff !important;
    text-shadow: 2px 1px 1px rgba(100, 100, 100, 0.9);
}
.navbar ul li a:active, 
.navbar ul li a:hover{ 
    font-weight: bold;
}
.profile_upload{
    text-align: center;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.profile_upload i{
    color: #999;
}
.profile_upload img{
    margin: auto auto;
}
.profile_upload:hover i{
    color: #333;
}
.image_container, .upload_container{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}
.image_container img{
    display: inline-block;
    margin: 5px;
}
.modal{
    color: #000;
    text-shadow: none;
}
.upload_container{
    display: none;
}